*{
    background-color: white;
    color: black;
    width: 
}
p{
    color: black;
}
.header{
    text-align: center;
    border: 5px black double;
}
.form-group{}
#scheduleHeader{
    font-size: 24px;
}
