*{
    background-color: white;
    color: black;
}
p{
    color: black;
}
.header{
    text-align: center;
}
th{
    padding: 40px;
}
#scheduleHeader{
    font-size: 24px;
}
.table{
    margin-left: 150px;
}